.form-container {
    max-width: 100%;
    margin: -380px auto 0;
    padding: 20px;
    border: px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container .form-group {
    margin-bottom: 20px;
}

.form-container .text-center {
    text-align: center;
}

.form-container .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container .btn:hover {
    background-color: #0056b3;
}

.form-container .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.form-container .success {
    color: green;
    font-size: 14px;
    margin-top: 5px;
    
}


