.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; 
  background-color: rgba(140, 198, 236, 0.603);  
  
  
  
  

}

.imgTop{
  margin-top:80px ;
  width: 100%;
  height: 90vh; /* Ajuste a altura da imagem aqui */
  object-fit: contain;
}

h2,h5{
  color: blanchedalmond;
}