.imgHome{
   
    width: 100%;
    height: 700px;
    object-fit:fill
}

.carousel-container{
    margin-top: 65px;
}



.texth2{
    color: red;
   font-style: italic;
   font-size: 35px;
}

.texth5{
    color: rgb(236, 236, 241);
}

footer{
    background-color:rgb(25, 104, 207) ;
    color: rgb(250, 251, 252);
    padding: 10px;
    text-align: center;
    height: 190px;
}