.navtop{
    font-size: 25px;
    font-weight:bolder;
    
}



footer{
    background-color:rgb(103, 115, 129) ;
    color: rgb(250, 251, 252);
    padding: 10px;
    text-align: center;
    height: 190px;
}


.page-container {
    background-image: url('../../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }
  